@{
    ViewData["Title"] = "Activation link has been sent";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Activation link has been sent. Please check you email adress and confirm your account.
    </p>
</div>

<div>
    <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Go to login side</a>
</div>