@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email.
    </p>
</div>

<div>
    <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Go to login side</a>
</div>