@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to see your password.
</p>

<div>
    <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Go to login side</a>
</div>
